   .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: var(--background-color);
    
  }
  .sectionTitle{
    text-align: center;
    margin-top: 70px;
  }
  
  .projectContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    
  }

 
  .tabContainer {
    display: flex;
    justify-content: center;
    margin: 3rem 0 2rem 0;
  }
  
  .tabContainer button {
    padding: 10px 15px;
    margin: 0 1rem;
    border: none;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tabContainer button:hover {
    background-color: #ababab;
    transform: scale(1.15);
  }
  
  .tabContainer button.activeTab {
    background-color: var(--button-active-background-color);
    color: var(--button-active-text-color);
    transform: scale(1.05);
  }
  
  .tabContent {
    text-align: center;
  }

  @media (max-width: 410px) {
    .tabContainer button {
      font-size: 13px;
    }
  }