.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  img {
    width: 20px;
  }

}


.aboutMe{
  margin-top: 70px;
}
.tabContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}

.tabContainer button {
  padding: 10px 15px;
  margin: 0 1rem;
  border: none;
  cursor: pointer;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.tabContainer button:hover {
  background-color: #ababab;
  transform: scale(1.15);
}

.tabContainer button.activeTab {
  background-color: var(--button-active-background-color);
  color: var(--button-active-text-color);
  transform: scale(1.05);
}

.tabContent {
  text-align: center;
}

.skillList {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-wrap: wrap;
  row-gap: 40px;
  max-width: 26ch;
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto;
}


.educationContainer {
  display: flex;
  justify-content: space-between; /* Ensures left and right portions are aligned */
  align-items: center; /* Aligns items vertically */
  gap: 20px; /* Adds spacing between left and right boxes */
  padding: 8px;
  margin: 0 23vw;
}

/* Left box styling */
.leftBox {
  flex: 2; /* Occupies 2/3 of the container */
  text-align: left; /* Align text to the left */
  margin: 10px 0;
}

/* Right box styling */
.rightBox {
  flex: 1; /* Occupies 1/3 of the container */
  text-align: right; /* Align text to the right */
  margin: 10px 0;
}

/* College name styling */
.collegeName {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

/* Degree styling */
.degree {
  font-size: 1rem;
}

/* Timeline styling */
.timeline {
  font-weight: bold;
  font-size: 1rem;
}

/* CGPA styling */
.cgpa {
  font-size: 1rem;
}

@media (width >= 800px) {
  .skillList {
    max-width: fit-content;
    gap: 30px;

    p {
      font-size: 20px;
    }
  }

  hr {
    width: 300px;
  }

  
}


/* -------------------Publication ------------------*/
.publicationContainer {
  padding: 20px;
  background-color: var(--card-background-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  
}

.publicationContainer h2 {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
  color: #333;
  color: var(--text-color);
}

.publicationCard {
  background-color: var(--background-color);
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.publicationTitle {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  margin-bottom: 12px;
  color: var(--text-color);
}

.publicationAuthors,
.publicationJournal,
.publicationStatus {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 8px;
}

.publicationAuthors strong,
.publicationJournal strong,
.publicationStatus strong {
  color: var(--text-color);
}



@media (width <= 600px) {
  
  .educationContainer { 
    margin: 0 2vw;
  }
  .collegeName {
    font-size: 15px;
  }
  .degree {
    font-size: 12px;
  }
  .timeline {
    font-size: 14px;
  }
  .cgpa {
    font-size: 12px;
  }
  .tabContainer button {
    padding: 5px 10px;
    font-size: 13px;
    margin: 0 3px;
  }


}